<div class="container body-container px-0">

  <div class="row">
    {{#each destinations}}

      <div class="col-lg-4 col-md-6 px-0">
        <div class="card mb-5 mx-auto destination-card light-background">
          <div class="card-img-top p-3">
            <img class="img-size" src="{{imageUrl}}" alt="destination-img">
          </div>
          <div class="card-body pt-0">
            <h2 class="card-title">{{city}}</h2>
            <h5 class="card-title">{{country}}</h5>
            <hr />
            <p class="card-text">{{inboundArrivalDate}} - {{outboundDepartureDate}}</p>
          </div>
          <div class="px-3 pb-4">
            <div class="row mx-auto">
              <div class="col px-0">
                <a href="/update/{{id}}">View/Update Trip</a>
              </div>
              <div class="col px-0">
                <a href="/accommodation/{{id}}">Accommodation</a>
              </div>
            </div>
            <div class="row mx-auto">
              <div class="col px-0">

                <form action="/delete/{{id}}" method="post">
                <button type="submit" value="submit" class="btn btn-link">Delete Trip</button>
                </form>

              </div>
              <div class="col px-0">
                <a href="/activities/{{id}}">Activities</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    {{/each}}
  </div>

</div>
