<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Travel Planner</title>
  <!-- Meta data -->
  <meta name="viewport" content="width-device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- CSS stylesheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/styles.css">
  <!-- Font Awesome Icons-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
  <div id="navigation-bar">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark py-2 ">
      <a class="navbar-brand mx-2" href="/">Travel Planner</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
        <span class="navbar-toggler-icon p-2"></span>
      </button>
      <div class="collapse navbar-collapse py-2 px-2" id="navbarToggler">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-1">
            <a class="nav-link h5 mb-0" href="/">Home</i></a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link h5 mb-0" href="/add">Add Trip <i class="fas fa-plus-circle"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="container body-container container-fluid">

    <div class="light-background py-4 px-2">
            {{#destinations}}
            <form class="" action="/update/1" method="post">

          <div class="row mx-auto pb-3">
            <div class="col py-2 add-trip-col">
              <h4 class="pt-3 pb-2">Destination</h4>
              <input type="text" name="city" value="{{city}}" class="m-1 wide-text-field" >
              <input type="text" name="country" value="{{country}}" class="m-1 wide-text-field" >
            </div>
            <div class="col py-2 add-trip-col ">
              <h4 class="pt-3 pb-2">Image</h4>
              <input type="text" name="imageUrl" value="{{imageUrl}}" class="m-1 wide-text-field">
            </div>
          </div>

          <div class="row mx-auto">
            <div class="col pb-2 add-trip-col m-2" style="background-color: silver">
              <h5 class="pt-3 pb-1">Inbound Trip</h5>
              <input type="text" name="fromCity" value="{{fromCity}}" class="m-1">
              <input type="text" name="fromCountry" value="{{fromCountry}}" class="m-1">
              <input type="text" name="inboundTransport" value="{{inboundTransport}}" class="m-1">
              <h6 class="pt-3 pb-1">Departure</h6>
              <input type="date" name="inboundDepartureDate" value="{{inboundDepartureDate}}" class="m-1 grey">
              <input type="time" name="inboundDepartureTime" value="{{inboundDepartureTime}}" class="m-1 grey">
              <h6 class="pt-3 pb-1">Arrival</h6>
              <input type="date" name="inboundArrivalDate" value="{{inboundArrivalDate}}" class="m-1 grey">
              <input type="time" name="inboundArrivalTime" value="{{inboundArrivalTime}}" class="m-1 grey">
            </div>
            <div class="col pb-2 add-trip-col m-2" style="background-color: silver">
              <h5 class="pt-3 pb-1">Outbound Trip</h5>
              <input type="text" name="toCity" value="{{toCity}}" class="m-1">
              <input type="text" name="toCountry" value="{{toCountry}}" class="m-1">
              <input type="text" name="outboundTransport" value="{{outboundTransport}}" class="m-1">
              <h6 class="pt-3 pb-1">Departure</h6>
              <input type="date" name="outboundDepartureDate" value="{{outboundDepartureDate}}" class="m-1 grey">
              <input type="time" name="outboundDepartureTime" value="{{outboundDepartureTime}}" class="m-1 grey">
              <h6 class="pt-3 pb-1">Arrival</h6>
              <input type="text" name="outboundArrivalDate" value="{{outboundArrivalDate}}" class="m-1 grey">
              <input type="text" name="outboundArrivalTime" value="{{outboundArrivalTime}}" class="m-1 grey">
            </div>
          </div>

          <div class="row">
            <button type="submit" value="submit" class=" btn btn-dark btn-lg mx-auto my-4">Update Trip</button>
          </div>

      </form>
          {{/destinations}}
    </div>

  </div>

  <!-- <div class="container body-container">

  <div class="row">

      <div class="col-lg-4 col-md-6">
        <div class="card mb-5 mx-auto destination-card light-background">
          {{#destinations}}
          <div class="card-img-top p-3">
            <img class="img-size" src="{{imageUrl}}" alt="destination-img">
          </div>
          <div class="card-body pt-0">
            <h2 class="card-title">{{city}}</h2>
            <h5 class="card-title">{{country}}</h5>
            <hr />
            <p class="card-text">{{inboundArrivalDate}} - {{outboundDepartureDate}}</p>
            <hr />

            {{/destinations}}
          </div>
        </div>
      </div>

  </div>

</div> -->

</body>

</html>
